<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>          <string>local.mneme.loopback</string>
  <key>ProgramArguments</key>
  <array>
    <string>/sbin/ifconfig</string>
    <string>lo0</string>
    <string>alias</string>
    <string>127.0.0.2</string>
    <string>up</string>
  </array>
  <key>RunAtLoad</key>      <true/>
  <key>StandardErrorPath</key><string>/tmp/mneme-loopback.err</string>
</dict>
</plist>
